.wrapperContent {
    background-color: var(--background-2);
    border-radius: 20px;
}

.block {
    width: 100%;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .title {
        font-size: var(--fs-elg);
        font-weight: var(--fw-medium);   
    }

    .content {
        display: flex;
        gap: 40px;

        .image {
            object-fit: cover;
            border-radius: 30px;
        }
        .mid {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .top {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .topItem {
                    // color: var(--foreground-2);
                }
            }

            .bottom {
                // margin-top: auto;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 330px;
            width: 100%;

            .price {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background-color: var(--primary);
                font-size: var(--fs-mlg);
                font-weight: var(--fw-bold);
                color: var(--foreground-3);
                padding: 15px;
            }
        }
    }
}