.block {
    position: relative;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    background-color: var(--gray-3);
    border: none;
    font-size: 14px;
    // color: var(--foreground);

    padding: 10px 10px 10px 15px;
    border-radius: 40px;
    border: 1px var(--gray-5) solid;
    transition: .3s;

    &:hover {
        background-color: var(--gray-4);
        border-color: var(--hover);
    }
}

.options {
    border-radius: 16px;
    position: absolute;
    z-index: -1;
    // top: 40px;
    top: auto;
    left: 0;
    right: 0;

    opacity: 0;
    transition: all .3s;
}


.arrowOpen{
    rotate: 180deg;
    transition: rotate 0.3s;
}

.arrow{
    rotate: 0deg;
    transition: rotate 0.3s;
}

.show {
    .options {
        z-index: 1;
        opacity: 1;
    }
}

.headerSelect{
    gap: 12px;
    border: none;
    border-radius: 40px 0px 0px 40px; 
    padding: 15px 10px 14px 15px;
  }