.wrapper {
    width: 100%;
    display: flex;
    gap: 20px;

    .left {
        display: flex;
        flex-direction: column;
        width: 300px;

        .content {
            position: sticky;
            top: 10px;
        }
    }
}